.div_view_recipe {
    display: flex;
    flex-direction: column;
}
.nav_bar {
    width: 100%;
}
.div_gen_info {
    display: flex;
}
.div_name_bkmk {
    display: flex;
    flex-direction: row;
}
.p_author {

}
.div_times {
    display: flex;
    flex-direction: row;
}
.div_serve_cal {
    display: flex;
    flex-direction: row;
}

.p_description {

}

.div_tags_stars {
    display: flex;
    flex-direction: row;
}
.div_stars{
    display: flex;
    flex-direction: row;
}

.div_tags {
    display: flex;
    flex-direction: row
}
.div_ingredients {
    display: flex;
    flex-direction: column;
}
.div_directions {
    display: flex;
    flex-direction: column;
}
.div_review {
    display: flex;
    flex-direction: column;
}
.div_rev_title_stars {
    display: flex;
    flex-direction: row;
}
.div_review_header_subject{
    display: flex;
    flex-direction: column;
}
.div_review_stars{
    display: flex;
    flex-direction: row;
}
.div_comment_post {
    display: flex;
    flex-direction: row;
}
