.div_view_recipe {
    display: flex;
    flex-direction: column;
    height: auto;
    position: relative; 
    width: auto;
    overflow-x: scroll;
}

.div_recipe {
    display: flex;
    flex-direction: column;
    background-color: #FFC873;
    width: 80%;
    margin: auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    border-radius: 10px;
    height: auto;
    min-height: 100vh;
    width: auto
}

.div_gen_info_recipe_photo {
    display: flex;
    flex-direction: row;
}

.nav_bar {
    width: 100%;
}

.div_gen_info {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; 
}

.div_name_bkmk {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.h1_recipe_name{
    font-size: 50px;
    font-family: 'Kodchasan', sans-serif;
    padding: 0px 10px;
    margin-right: 10px;
}

.bookmark {
    height: 80px;
    width: 100px;
    margin-top: 25px;
}

.p_author {
    font-size: 20px;
    font-family: 'Kodchasan', sans-serif;
    padding: 0px 10px;
}

.p_prep_time {
    font-size: 1rem;
    color: black;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Kodchasan', sans-serif;
    padding: 10px;
    white-space: nowrap;
    border-right: 1px solid black;
}

.p_cook_time {
    font-size: 1rem;
    color: black;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Kodchasan', sans-serif;
    padding: 10px;
    white-space: nowrap;
}

.p_total_time {
    font-size: 1rem;
    color: black;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Kodchasan', sans-serif;
    padding: 10px;
    white-space: nowrap;
    border-left: 1px solid black;
}

.div_times {
    display: flex;
    flex-direction: row;
}

.div_serve_cal {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
}

.h1_description_header {
    font-size: 40px;
    font-family: 'Kodchasan', sans-serif;
    margin-bottom: 10px;
}

.p_description {
    font-size: 20px;
    font-family: 'Kodchasan', sans-serif;
    margin-bottom: 30px;
}

.img_recipe_photo {
    height: 500px;
    width: 400px;
    padding: 20px;
}

.div_tags_stars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div_stars_rating {
    display: flex;
    flex-direction: column;
}

.div_stars{
    display: flex;
    flex-direction: row;
}

.p_rating{
    font-size: 20px;
    font-family: 'Kodchasan', sans-serif;
}

.div_tags {
    display: flex;
    flex-direction: row;
}

.div_all_tags {
}

.div_ingredients {
    display: flex;
    flex-direction: column;
}

.div_directions {
    display: flex;
    flex-direction: column;
}

.div_review {
    display: flex;
    flex-direction: column;
}

.div_rev_title_stars {
    display: flex;
    flex-direction: row;
}

.div_review_header_subject{
    display: flex;
    flex-direction: column;
}

.div_review_stars{
    display: flex;
    flex-direction: row;
}

.div_comment_post {
    display: flex;
    flex-direction: row;
}

.p_servings {
    margin-right: 10px;
    font-size: 20px;
    font-family: 'Kodchasan', sans-serif;
}

.p_calories {
    font-size: 20px;
    font-family: 'Kodchasan', sans-serif;
    margin-right: 10px;
}

.div_inner_tag {
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.p_tag {
    font-size: 20px;
    font-family: 'Kodchasan', sans-serif;
}

.div_ingredient {
    margin-bottom: 5px;
}

.h1_ingredients_header{
    font-size: 20px;
    font-family: 'Kodchasan', sans-serif;
}

.p_ingredient {
    font-size: 20px;
    font-family: 'Kodchasan', sans-serif;
}

.div_direction {
    margin-bottom: 10px;
}

.h1_directions_header {
    font-size: 20px;
    font-family: 'Kodchasan', sans-serif;
}

.p_direction {
    font-size: 20px;
    font-family: 'Kodchasan', sans-serif;
}

.h1_review_header {
    font-size: 20px;
    font-family: 'Kodchasan', sans-serif;
    margin-bottom: 5px;
}

.input_review_header {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Kodchasan', sans-serif;
}

.star {
    color: var(--primary-orange);
    margin-right: 5px;
    font-size: 20px;
    height: 80px;
    width: 80px;
}

.input_comment {
    font-size: 20px;
    font-family: 'Kodchasan', sans-serif;
    width: 70%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.button_post_review {
    font-size: 20px;
    font-family: 'Kodchasan', sans-serif;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.button_post_review:hover {
    background-color: #0056b3;
}
